body {
    margin: 0;
    padding: 0;
    font-family: segoe ui, verdana, ubuntu, monospace;
    font-size: 16px;
    background-color: rgba(240,240,240,0.8);
}

h3{
    font-weight: 300;
    color: rgb(64,64,0);
}

.slide-left{
    background-image: url("https://cdn4.iconfinder.com/data/icons/round-circle/100/circle-36-512.png");
    transform: rotateZ(180deg);
}

.slide-right{
    background-image: url("https://cdn4.iconfinder.com/data/icons/round-circle/100/circle-36-512.png");
}

.slide-right,.slide-left{
    background-size: 80%;
    width: 64px;
    height: 512px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    background-color: rgba(32,32,32,0.16);
}

.item-draggable{
    width: 32px;
    height: 32px;
    margin: 4px;
    transition-duration: 0.1s;
    float: right;
}

.big{
    font-weight: 600;
}

.pointer{
    font-size: 0;
    width: 32px;
    height: 32px;
    background: url("https://image.flaticon.com/icons/png/512/16/16909.png");
    background-size: cover;
    background-color: transparent !important;
    transition-duration: 0.1s;
    float: right;
}

.orange{
    background-color: rgba(240,180,0,0.9);
}

.green{
    background-color: rgba(0,240,0,0.9);
}

.calendar-cart{
    height: 8.33%;
    width: 16.66%;
    display: inline-block;
    box-shadow: inset 0 0 1px rgba(0,0,0,0.64);
}

.calendar-grid{
    display: inline-block;
    vertical-align: top;
    /*grid-template-columns: auto auto auto auto auto auto;*/
    /*grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;*/
}

.calendar{
    width: 70%;
    height: 100%;
}

.calendar-cart-hover{
    background-color: rgba(64,64,64,0.2);
}

.calendar-cart-active{
    background-color: rgba(128,92,64,0.2);
}

.calendar-cart:nth-child(12n+1),.calendar-cart:nth-child(12n+2),.calendar-cart:nth-child(12n+3),
.calendar-cart:nth-child(12n+4),.calendar-cart:nth-child(12n+5),.calendar-cart:nth-child(12n+6){
    background-color: rgba(0,0,0,0.08);
}

.active-hour{
    background-color: blue;
    display: block;
    width: 100%;
    height: 100%;
}

.icon-edit{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 4px;
    background: url("https://cdn3.iconfinder.com/data/icons/simplius-pack/512/pencil_and_paper-512.png");
    background-size: cover;
}

.icon-add{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 4px;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/OOjs_UI_icon_add.svg/1200px-OOjs_UI_icon_add.svg.png");
    background-size: cover;
}

.icon-remove{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 4px;
    background: url("https://cdn0.iconfinder.com/data/icons/round-ui-icons/512/close_red.png");
    background-size: cover;
}

.toggle-button{
    width: 256px;
    padding: 8px 0 8px 0;
    font-size: 20px;
    text-align: center;
}

.toggle-button-red{
    background-color: rgba(240,32,32,1);
}

.toggle-button-green{
    background-color: rgba(32,240,32,1);
}

.icon{
    cursor: pointer;
}

@media screen and (max-width: 1023px) {

}

@media screen and (min-width: 1024px) {
    .navbar{
        width: 100%;
        background-color: rgb(64,64,80);
        box-shadow: 0 0 4px rgba(64,32,32,0.4);
        color: rgb(240,240,240);
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
    }

    .navbar::after {
        content: "";
        clear: both;
        display: block;
    }

    .superbar{
        position: fixed;
        width: 256px;
        height: calc(100% - 64px);
        background-color: rgb(64,64,80);
        color: rgb(240,240,240);
        box-shadow: 2px 2px 2px rgba(64,32,32,0.4);
        top: 64px;
        left: 0;
        overflow: auto;
    }

    .navbar a{
        text-decoration: inherit;
        color: inherit;
        font-size: 20px;
        float: right;
        padding: 0 8px 0 8px;
        min-width: 128px;
        line-height: 64px;
        text-transform: uppercase;
        transition-duration: 0.4s;
    }

    .navbar a:hover{
        text-shadow: 0 0 4px rgba(240,240,240,0.8);
        transition-duration: 0.4s;
    }

    .navbar a:active{
        text-shadow: 0 0 4px rgba(240,240,240,0.4);
        transition-duration: 0.4s;
    }

    .superbar a{
        text-decoration: inherit;
        color: inherit;
        display: block;
        width: calc(100% - 16px);
        padding: 20px 4px 20px 8px;
        font-size: 20px;
        border-right: 4px solid transparent;
        text-transform: uppercase;
        transition-duration: 0.4s;
    }

    .superbar a:hover{
        background-color: rgba(240,240,240,0.16);
        border-right: 4px solid rgba(240,160,0,0.4);
        transition-duration: 0.4s;
    }

    .superbar a:active{
        background-color: rgba(240,240,240,0.08);
        border-right: 4px solid rgba(240,160,0,0.4);
        transition-duration: 0.4s;
    }

    .container{
        margin: 64px 0 0 256px;
    }

    .vertical-bar{
        padding: 20px 32px 20px 32px;
        width: calc(100% - 64px);
        overflow: auto;
    }

    .vertical-bar::after {
        content: "";
        clear: both;
        display: block;
    }

    .text-form, .text-form-search{
        float: right;
        min-width: 512px;
        border-radius: 20px;
        border: 0;
        box-shadow: 0 0 2px 1px rgba(32,32,32,0.64);
        font-size: 20px;
        min-height: 40px;
        padding-left: 16px;
    }

    .text-form-search{
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/0b/Search_Icon.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: calc(100% - 16px);
        margin-left: 16px;
        margin-right: 16px;
    }

    .list{
        margin-top: 32px;
        margin-bottom: 16px;
    }

    .list-item{
        padding: 8px 32px 8px 32px;
        font-weight: 300;
    }

    .point{
        min-width: 24px;
        padding: 8px;
        display: inline-block;
        background-color: rgba(255,64,64,0.8);
        box-shadow: 0 0 2px rgba(255,64,64,0.8);
        text-align: center;
        vertical-align: top;
    }

    .button, .button-wide{
        background-color: rgba(255,180,64,0.8);
        box-shadow: 0 0 2px rgba(255,180,64,0.8);
        text-align: center;
        margin: 8px;
        cursor: pointer;
        transition-duration: 0.4s;
    }

    .button:hover, .button-wide:hover{
        background-color: rgba(240,220,64,0.8);
        transition-duration: 0.4s;
    }

    .button:active, .button-wide:active{
        background-color: rgba(220,140,64,0.8);
        transition-duration: 0.4s;
    }

    .button{
        padding: 8px;
        min-width: 64px;
    }

    .button-wide{
        padding: 16px;
        min-width: 512px;
    }

    .label{
        min-width: 512px;
        padding: 8px;
        display: inline-block;
        background-color: rgba(255,200,200,0.8);
        box-shadow: 0 0 2px rgba(255,200,200,0.8);
        margin: 0 32px 0 32px;
        width: 70%;
        vertical-align: top;
    }

    .list-button{
        display: inline-block;
        vertical-align: top;
        margin: 0 !important;
    }

    .grid{
        display: grid;
        grid-template-columns: 20% 64px auto;
    }

    .grid-item{

    }

    .horizontal-bar{
        background-color: rgba(32,32,32,0.08);
    }

    table{
        margin: auto;
        width: 80%;
        border-spacing: 0;
    }

    td{
        padding: 4px;
        border-top: 1px solid rgba(32,32,32,0.16);
        white-space: nowrap;
    }

    tr td:last-child, tr th:last-child{
        text-align: right;
    }

    tr:hover{
        background-color: rgba(240,160,32,0.08);
    }

    th{
        background-color: rgba(64,240,64,0.4);
        padding: 4px;
        font-weight: 300;
        text-align: left;
    }

    .form{
        margin: 10% 10% 0 10%;
        width: 80%;
        border-radius: 16px 16px 0 0;
        box-shadow: 0 0 4px rgba(240,0,0,0.32);
        background-color: rgba(120,140,40,0.08);
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .form-title{
        font-size: 48px;
        font-weight: 300;
        margin: 32px;
        display: block;
        border-bottom: 1px solid rgba(32,32,32,0.16);
    }

    .form-title-white{
        font-size: 48px;
        font-weight: 300;
        margin: 32px;
        display: block;
        color: rgba(220,220,2200,1);
        border-bottom: 1px solid rgba(255,255,255,0.16);
    }

    .form-subtitle{
        font-size: 24px;
        font-weight: 300;
        margin: 8px 8px 16px 8px;
        display: block;
    }

    .form-alert{
        font-size: 20px;
        font-weight: 300;
        padding: 8px 8px 32px 8px;
        display: block;
    }

    .form-row{
        margin-top: 2%;
        margin-bottom: 2%;
        padding-left: 16px;
        padding-right: 16px;
    }

    .input-form-50{
        width: 47.8%;
        margin: 1%;
        display: inline-block;
    }

    .input-form-40{
        width: 37.8%;
        margin: 1%;
        display: inline-block;
    }

    .input-form-35{
        width: 32.2%;
        margin: 1%;
        display: inline-block;
    }

    .input-form-80{
        width: 78%;
        margin: 1%;
        display: inline-block;
    }

    .input-form-15{
        width: 13%;
        margin: 1%;
        display: inline-block;
    }

    .input-text-form {
        min-height: 42px;
        border-radius: 0;
        width: 98%;
        border: 1px solid rgba(64,64,64,0.32);
        background-color: rgba(240,240,240,1);
    }

    /*.select-form {*/
    /*    border: 1px solid #ccc;*/
    /*    width: 120px;*/
    /*    border-radius: 3px;*/
    /*    overflow: hidden;*/
    /*    background: #fafafa;*/
    /*    position: absolute;*/
    /*}*/

    /*.select-form select {*/
    /*    padding: 5px 8px;*/
    /*    width: 130%;*/
    /*    border: none;*/
    /*    box-shadow: none;*/
    /*    background: transparent;*/
    /*    background-image: none;*/
    /*    -webkit-appearance: none;*/
    /*}*/

    /*.select-form select:focus {*/
    /*    outline: none;*/
    /*}*/

    .select-form{
        width: 100%;
    }

    .button-area{
        padding: 8px 16px 8px 16px;
        text-align: right;
        width: 96%;
    }

    .button-area-center{
        padding: 8px 16px 8px 16px;
        text-align: center;
        width: 96%;
    }

    .button-right{
        float: right;
        display: block;
    }

    .button-area::after {
        content: "";
        clear: both;
        display: block;
    }

    .heading{
        font-size: 32px;
        font-weight: 300;
        margin: 32px 10% 4px 10%;
        display: block;
        padding-left: 4px;
        padding-top: 4px;
        background-color: rgba(0,0,0,0.04);
        border-bottom: 1px solid rgba(32,32,32,0.16);
    }

    .grid-3{
        display: grid;
        grid-template-columns: calc(32.6% - 20px) calc(32.6% - 20px) calc(32.6% - 20px);
        grid-column-gap: 2%;
        grid-row-gap: 2%;
        align-items: center;
    }

    .grid-item-inactive,.grid-item-active{
        border: 2px solid rgba(64,16,16,0.08);
        padding: 8px;
        font-weight: 300;
        font-size: 24px;
        min-height: 128px;
        vertical-align: center;
        text-align: center;
    }

    .grid-item-active{
        background-color: rgba(64,240,0,0.32);
    }

    .grid-item-inactive{
        background-color: rgba(240,64,0,0.08);
        color: rgba(160,160,160,1);
    }

    .login-form{
        width: 512px;
        /*min-height: 512px;*/
        margin: 0;
        background-color: rgba(32,32,32,0.9);
        color: white;
        font-weight: 300;
        border-radius: 32px;
        box-shadow: 0 0 8px rgba(64,64,0,0.64);
        text-align: center;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    .black-button{
        padding: 8px 64px 8px 64px;
        border-radius: 16px;
        background: transparent;
        border: 1px solid rgb(255,255,255);
        color: white;
        font-size: 20px;
    }

    .hidden-box-full{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.64);
    }

    .qr-container{
        margin-top: 32px;
        margin-bottom: 32px;
    }
}