{% extends 'base.html.twig' %}

{% block title %}Hello PacjentController!{% endblock %}

{% block body %}
    <div class="container" id="app">
        <div class="vertical-bar">
            <select name="specjalista" v-model="etap.specjalista" @change="getTimetable">
                <option value="">Wybierz specjalistę...</option>
                <option v-for="subitem in sortedListOfSpec" :value="subitem.id">
                    @{subitem.imie} @{subitem.nazwisko} @{subitem.oddzial}
                </option>
            </select>
            <select name="sala" v-model="etap.sala" @change="getTimetable">
                <option value="">Wybierz salę...</option>
                <option v-for="subitem in sortedListOfSale" :value="subitem.id">
                    @{subitem.nrSali}
                </option>
            </select>
            <select name="kalendarz" v-model="mode">
                <option :value="'1-day'">Kalendarz jednodniowy</option>
            </select>
            <div class="button" @click="getTimetable">Wygeneruj plan...</div>
            @{getSelectedDay()}
        </div>

        <div class="grid">
            <div class="grid-item">
                <h3>@{turnus.opis}</h3>
            </div>
            <div class="grid-item">
            </div>
            <div class="grid-item">
            </div>
            <div class="horizontal-bar grid-item">
                <div v-for="etap in etapy">
                    <template v-if="etap.dataPrzeprowadzenia != null">
                        <div class="list-item">
                            <div class="item-draggable green" :id="'pointer'+etap.id" v-on:mouseout="changeEtapId(etap.id, etap.zabieg_id)"></div>
                            @{etap.zabieg} @{format_date(etap.dataPrzeprowadzenia.date)}
                        </div>
                    </template>
                    <template v-else>
                        <div class="list-item">
                            <div class="item-draggable orange" :id="'pointer'+etap.id" v-on:mouseout="changeEtapId(etap.id, etap.zabieg_id)"></div>
                            @{etap.zabieg}
                        </div>
                    </template>
                </div>
            </div>
            <div class="grid-item">

            </div>
            <div class="grid-item">
                <span class="slide-left" @click="dateSub()"></span>

                <!-- Calendar -->
                <span class="calendar calendar-grid">
                    <div v-for="hour in dayHoursMap" class="calendar-cart" :id="hour.hour" :title="hour.etap">
                        <span v-if="hour.etap !== ''" class="active-hour">
                            @{hour.hour}
                        </span>
                        <span v-else :id="hour.hour">
                            @{hour.hour}
                        </span>
                    </div>
                </span>
                <!-- -------- -->
                <span class="slide-right" @click="dateAdd()"></span>
            </div>
        </div>

    </div>

    <script>
        {% if etapy is defined %}
            window.etapy = {{ etapy|raw }};
        {% endif %}
        {% if turnus is defined %}
            window.turnus = {{ turnus|raw }};
        {% endif %}
        {% if specjalisci is defined %}
            window.specjalisci = {{ specjalisci|raw }};
        {% endif %}
        {% if sale is defined %}
            window.sale = {{ sale|raw }};
        {% endif %}
        {% if id is defined %}
            window.id = {{ id }};
        {% endif %}
        {% if dayHourMap is defined %}
        window.dayHourMap = {{ dayHourMap|raw }};
        {% endif %}
    </script>

    {{ encore_entry_script_tags('plannerManage') }}
{% endblock %}
