{% extends 'base.html.twig' %}

{% block title %}Hello PlannerViewController!{% endblock %}

{% block body %}
<div class="container">
    <a href="{{ path('planner_view_specjalista') }}">
        <div>
            Widok Specjalisty
        </div>
    </a>
    <a href="{{ path('planner_view_pacjent') }}">
        <div>
            Widok Pacjenta
        </div>
    </a>
</div>
{% endblock %}
