{% extends 'base.html.twig' %}

{% block title %}Hello PlannerViewController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="hidden-box-full" style="display: none">
            <div class="login-form">
                <div class="form-title-white">
                    Proszę zeskanować kod QR
                </div>
                <div class="qr-container">

                </div>
            </div>
        </div>

        <div class="heading">
            Moje aktualne zabiegi
        </div>

        <div class="box">
            {% if specjalista is not null %}
                {% if specjalista.etapy|length > 0 %}
                    <table>
                        <tr>
                            <th scope="col">Zabieg</th>
                            <th scope="col">Pacjent</th>
                            <th scope="col">Sala</th>
                            <th scope="col">Data</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                        </tr>
                        {% for etap in specjalista.etapy %}
                            {% if etap.statusWizyty.nazwa == "zarejestrowano" or etap.statusWizyty.nazwa == "zaplanowano" %}
                                <tr>
                                    <td>
                                        {{ etap.zabieg.opis }}
                                    </td>
                                    <td>
                                        {{ etap.turnus.pacjent.osoba.pesel }}
                                    </td>
                                    <td>
                                        {{ etap.sala.nrSali }}
                                    </td>
                                    <td>
                                        {{ etap.dataPrzeprowadzenia|date("Y-m-d h:i") }}
                                    </td>
                                    <td>
                                        {{ etap.statusWizyty.nazwa }}
                                    </td>
                                    <td>
                                        <span class="button qr-generate" data-code="{{ etap.id }}">Generuj QR</span>
                                        <span class="button">Nie odbyto</span>
                                        <span class="hidden" id="hidden-{{ etap.id }}" style="display: none">
                                            <img src="{{ qr_code_data_uri(etap.kodWalidacyjny, { writer: 'svg', size: 256 }) }}" />
                                        </span>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {{ encore_entry_script_tags('plannerView') }}
{% endblock %}
