{% extends 'base.html.twig' %}

{% block title %}Hello RozpoznanieController!{% endblock %}

{% block body %}
    <div class="container" id="app">
        <div class="list">
            <div class="list-item">
                <div class="form-title">
                    Rozpoznania
                </div>
                <div class="form-row">
                    <input type="text" class="input-form-35 input-text-form" v-model="new_value" placeholder="Kod">
                    <input type="text" class="input-form-35 input-text-form" v-model="new_description" placeholder="Opis">
                    <span class="button" @click="addItem">Dodaj</span>
                </div>
            </div>
            <div v-for="(item,key) in items">
                <div class="list-item">
                    <div class="point">@{key}</div>
                    <div class="label">
                        @{item.kod} @{item.opis}
                    </div>
                    <span class="list-button icon-remove" @click="removeItem(key)"></span>
                </div>
            </div>
        </div>
    </div>

    <script>
        {% if items is defined %}
        window.items = {{ items|raw }};
        {% endif %}
    </script>

    {{ encore_entry_script_tags('rozpoznanieManage') }}
{% endblock %}
