{% extends 'base.html.twig' %}

{% block title %}Hello OddzialController!{% endblock %}

{% block body %}
    <div class="container" id="app">
        <div class="list">
            <div class="list-item">
                <div class="form-title">
                    Oddziały
                </div>
                <div class="form-row">
                    <input type="text" class="input-form-80 input-text-form" v-model="new_oddzial_nazwa" placeholder="Nazwa">
                    <span class="button" @click="addOddzial">Dodaj</span>
                </div>
            </div>
            <div v-for="(oddzial,key) in oddzialy">
                <div class="list-item">
                    <div class="point">@{key}</div>
                    <div class="label">
                        @{oddzial.nazwa}
                    </div>
                    <span class="list-button icon-remove" @click="removeOddzial(key)"></span>
                    <span class="list-button icon-edit" @click="editSale(oddzial.id)"></span>
                </div>
            </div>
        </div>
    </div>

    <script>
        {% if oddzialy is defined %}
        window.oddzialy = {{ oddzialy|raw }};
        {% endif %}
    </script>

    {{ encore_entry_script_tags('oddzialManage') }}
{% endblock %}
