{% extends 'base.html.twig' %}

{% block title %}Hello OddzialController!{% endblock %}

{% block body %}
    <div class="container" id="app">
        <div class="list">
            <div class="list-item">
                <div class="form-title">
                    Sale w oddziale: {{ oddzial.nazwa }}
                </div>
                <div class="form-row">
                    <input type="text" class="input-form-80 input-text-form" v-model="new_sala_nazwa" placeholder="Nazwa">
                    <span class="button" @click="addSala">Dodaj</span>
                </div>
            </div>
            <div v-for="(sala,key) in sale">
                <div class="list-item">
                    <div class="point">@{key}</div>
                    <div class="label">
                        @{sala.nrSali}
                    </div>
                    <span class="list-button icon-remove" @click="removeSala(key)"></span>
                </div>
            </div>
        </div>
    </div>

    <script>
        {% if sale is defined %}
            window.sale = {{ sale|raw }};
        {% endif %}
        {% if oddzial_id is defined %}
            window.oddzial_id = {{ oddzial_id }};
        {% endif %}
    </script>

    {{ encore_entry_script_tags('salaManage') }}
{% endblock %}
