{% extends 'base.html.twig' %}

{% block title %}Hello UzytkownikSystemuController!{% endblock %}

{% block body %}
    <div class="container" id="app">
        <div class="form">
            <div class="form-row">
                <span class="form-title">{{ title }}</span>
                {% if is_update == true %}
                    <div class="input-form-50">
                        <div class="toggle-button toggle-button-green" id="aktywny" @click="changeAktywnyValue">Aktywny</div>
                    </div>
                {% endif %}
            </div>
            <div class="form-row">
                <div class="input-form-50">
                    <h3>Login:</h3>
                    <input v-model="uzytkownik_systemu.login"
                           type="text" placeholder="login"
                           class="input-text-form"
                            {% if is_update == true %} disabled {% endif %}>
                </div>
                {% if is_update != true %}
                    <div class="input-form-50">
                        <h3>Hasło:</h3>
                        <input class="input-text-form" v-model="uzytkownik_systemu.haslo" type="password" placeholder="hasło">
                    </div>
                {% endif %}
            </div>
            <div class="form-row">
                <div class="input-form-50">
                    <h3>Osoba:</h3>
                    <select class="select-form" name="osoba" v-model="uzytkownik_systemu.osoba"
                            {% if is_update == true %} disabled {% endif %}>
                        <option v-for="osoba in osoby" :value="osoba.id">
                            @{osoba.imie} @{osoba.nazwisko}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="grid-3">
                    <span v-for="grupa in grupy">
                        <template v-if="isInGrupyUzytkownikow(grupa.id) !== (-1)">
                            <div class="grid-item-active" @click="removeGrupaUzytkownika(grupa.id)">
                                @{grupa.nazwa}
                            </div>
                        </template>
                        <template v-else>
                            <div class="grid-item-inactive" @click="addGrupaUzytkownika(grupa.id)">
                                @{grupa.nazwa}
                            </div>
                        </template>
                    </span>
                </div>
            </div>
            <div class="form-row button-area">
                {% if is_update == false  %}
                    <div class="button button-right" @click="applyChange">Zatwierdź</div>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        {% if osoby is defined %}
            window.osoby = {{ osoby|raw }};
        {% endif %}
        {% if grupy is defined %}
            window.grupy = {{ grupy|raw }};
        {% endif %}
        {% if uzytkownik_systemu is defined %}
            window.uzytkownik_systemu = {{ uzytkownik_systemu|raw }};
        {% endif %}
        {% if id is defined %}
            window.id = {{ id }};
        {% endif %}
        {% if grupy_uzytkownika is defined %}
            window.grupy_uzytkownika = {{ grupy_uzytkownika|raw }};
        {% endif %}
        {% if user_id is defined %}
            window.user_id = {{ user_id }};
        {% endif %}
        {% if proponed_login is defined %}
            window.proponed_login = "{{ proponed_login }}";
        {% endif %}
    </script>

    {{ encore_entry_script_tags('uzytkownikSystemuManage') }}
{% endblock %}
