<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('appStyle') }}
        {% endblock %}
    </head>
    <body>
        <div class="navbar">

            <a href="{{ path('app_logout') }}">
                Wyloguj
            </a>
            <a href="#">
                Ustawienia Konta
            </a>

        </div>
        <div class="superbar">

            {% if is_granted("ROLE_SPECJALISCI_GRUPA") %}
                <a href="{{ path('planner_view_specjalista') }}">
                    Mój Plan
                </a>
            {% endif %}

            {% if is_granted("ROLE_OSOBY_ODCZYT") %}
                <a href="{{ path('osoba') }}">
                    Osoby
                </a>
            {% endif %}

            {% if is_granted("ROLE_SPECJALISCI_ODCZYT") %}
                <a href="{{ path('osoba-specjalista') }}">
                    Specjaliści
                </a>
            {% endif %}

            {% if is_granted("ROLE_PACJENCI_ODCZYT") %}
                <a href="{{ path('osoba-pacjent') }}">
                    Pacjenci
                </a>
            {% endif %}

            {% if is_granted("ROLE_ZABIEGI_ODCZYT") %}
                <a href="{{ path('zabieg') }}">
                    Zabiegi
                </a>
            {% endif %}

            {% if is_granted("ROLE_ODDZIALY_ODCZYT") %}
                <a href="{{ path('oddzial') }}">
                    Oddziały
                </a>
            {% endif %}

            {% if is_granted("ROLE_ROZPOZNANIA_ODCZYT") %}
                <a href="{{ path('rozpoznanie') }}">
                    Rozpoznania
                </a>
            {% endif %}

            {% if is_granted("ROLE_SPECJALIZACJE_ODCZYT") %}
                <a href="{{ path('specjalista-specjalizacja') }}">
                    Specjalizacje
                </a>
            {% endif %}

            {% if is_granted("ROLE_PLANY_ODCZYT") %}
                <a href="{{ path('plan') }}">
                    Plany
                </a>
            {% endif %}

            {% if is_granted("ROLE_TURNUSY_ODCZYT") %}
                <a href="{{ path('turnus') }}">
                    Turnusy
                </a>
            {% endif %}

        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
