{% extends 'base.html.twig' %}

{% block title %}Hello OsobaController!{% endblock %}

{% block body %}
    <div class="container" id="app">
        <div class="form">
            <div class="form-row">
                <span class="form-title">{{ title }}</span>
                <span class="form-subtitle" v-if="osoba.dataRejestracji !== ''">
                    Zarejestrowano: @{ format_date(osoba.dataRejestracji) }
                </span>
            </div>
            <div class="form-row">
                <div class="input-form-50">
                    <h3>Imię</h3>
                    <input class="input-text-form" v-model="osoba.imie" type="text" placeholder="Imię">
                </div>
                <div class="input-form-50">
                    <h3>Nazwisko</h3>
                    <input class="input-text-form" v-model="osoba.nazwisko" type="text" placeholder="Nazwisko">
                </div>
            </div>
            <div class="form-row">
                <div class="input-form-50">
                    <h3>Pesel</h3>
                    <input class="input-text-form" v-model="osoba.pesel" type="text" placeholder="Pesel">
                </div>
                <div class="input-form-35">
                    <h3>Data Urodzenia</h3>
                    <input class="input-text-form" v-model="osoba.dataUrodzenia" type="text" placeholder="Data Urodzenia">
                </div>
                <div class="input-form-15">
                    <h3>Płeć</h3>
                    <select class="select-form" v-model="osoba.plec">
                        <option value="">Wybierz płeć...</option>
                        <option value="K">Kobieta</option>
                        <option value="M">Mężczyzna</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="input-form-50">
                    <h3>Imię ojca</h3>
                    <input class="input-text-form" v-model="osoba.imieOjca" type="text" placeholder="Imię Ojca">
                </div>
                <div class="input-form-50">
                    <h3>Imię matki</h3>
                    <input class="input-text-form" v-model="osoba.imieMatki" type="text" placeholder="Imię Matki">
                </div>
            </div>
            <div class="form-row">
                <div class="input-form-35">
                    <h3>Ulica</h3>
                    <input class="input-text-form" v-model="osoba.ulica" type="text" placeholder="Ulica">
                </div>
                <div class="input-form-15">
                    <h3>Nr domu</h3>
                    <input class="input-text-form" v-model="osoba.nrDomu" type="text" placeholder="Nr Domu">
                </div>
                <div class="input-form-15">
                    <h3>Kod pocztowy</h3>
                    <input class="input-text-form" v-model="osoba.kodPocztowy" type="text" placeholder="Kod Pocztowy">
                </div>
                <div class="input-form-35">
                    <h3>Miejscowość</h3>
                    <input class="input-text-form" v-model="osoba.miejscowosc" type="text" placeholder="Miejscowość">
                </div>
            </div>
            <div class="form-row button-area">
                <span class="button button-right" @click="applyChange">Zatwierdź</span>
                {% if id is defined %}
                    {% if uzytkownik_systemu is not null %}
                        <a href="{{ path('uzytkownik-systemu-edit',{uzytkownikSystemuId: uzytkownik_systemu.id}) }}">
                            <span class="button button-right">Edycja konta systemowego</span>
                        </a>
                    {% else %}
                        <a href="{{ path('uzytkownik-systemu-new',{userId: id}) }}">
                            <span class="button button-right">Nadaj konto systemowe</span>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        {% if osoba is defined %}
            window.osoba = {{ osoba|raw }};
        {% endif %}
        {% if id is defined %}
            window.id = {{ id }};
        {% endif %}
    </script>

    {{ encore_entry_script_tags('osobaManage') }}
{#    {{ encore_entry_script_tags('select') }}#}
{% endblock %}
