{% extends 'base.html.twig' %}

{% block title %}Hello OsobaController!{% endblock %}

{% block body %}
    <div class="container" id="app">
        <div class="vertical-bar">
            <input class="text-form-search" type="text" @input="getOsoby" v-model="searchByValue">
        </div>

        <div class="heading">
            Osoby
        </div>

        <div class="box">
            <table>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Imię i naziwsko</th>
                    <th scope="col">Pesel</th>
                    <th colspan="3" scope="col">Adres</th>
                    <th scope="col">
                        <a href="{{ path('osoba-new') }}">
                            <span class="icon-add"></span>
                        </a>
                    </th>
                </tr>
                <tr v-for="(osoba,key) in osoby">
                    <td class="big">@{key}</td>
                    <td>@{osoba.imie} @{osoba.nazwisko}</td>
                    <td>@{osoba.pesel}</td>
                    <td>@{osoba.ulica} @{osoba.nrDomu}</td>
                    <td>@{osoba.kodPocztowy}</td>
                    <td>@{osoba.miejscowosc}</td>
                    <td>
                        <span class="icon-edit" @click="edit(osoba.id)"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    {{ encore_entry_script_tags('osobaList') }}
{% endblock %}
