{% block stylesheets %}
    {{ encore_entry_link_tags('appStyle') }}
    <style>
        body {
            background: url("https://wallpaperaccess.com/full/1091424.jpg");
            background-size: cover;
        }
    </style>
{% endblock %}

{% block body %}

    <form method="post" class="login-form">
        {% if app.user %}
            <div class="form-row">
                Jesteś zalogowany/a jako {{ app.user.username }}
            </div>
        {% endif %}

        <div class="form-row">
            <div class="form-title-white">
                RehabiApp
            </div>
            <div class="form-subtitle">
                Zaloguj się
            </div>
        </div>
        <div class="form-row">
            <h4>Email</h4>
            <input type="text" value="{{ last_username }}"
                   name="login" id="inputLogin" class="input-text-form"
                   required autofocus>
        </div>

        <div class="form-row">
            <h4>Hasło</h4>
            <input type="password" name="haslo" id="inputHaslo"
                   class="input-text-form" required>
        </div>

        <div class="form-row button-area-center">
            <button class="black-button button-center" type="submit">
                Sign in
            </button>
        </div>

        {% if error %}
            <div class="form-row">
                <div class="form-alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            </div>
        {% endif %}
    </form>

{% endblock %}
