{% extends 'base.html.twig' %}

{% block title %}Hello OsobaController!{% endblock %}

{% block body %}
    <div class="container" id="app">
        <div class="vertical-bar">
            <input class="text-form" type="text" @input="getItems" v-model="searchByValue" placeholder="Szukaj...">
        </div>
        <div class="heading">
            Plany
        </div>
        <div class="box">
            <table>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Opis</th>
                    <th scope="col">Rozpoznanie</th>
                    <th scope="col">
                        <a href="{{ path('plan-new') }}">
                            <span class="icon-add"></span>
                        </a>
                    </th>
                </tr>
                <tr v-for="(item,key) in items" v-bind:key="item.id">
                    <td class="big">@{key}</td>
                    <td>@{item.opis}</td>
                    <td>@{item.rozpoznanie_kod} @{item.opis}</td>
                    <td>
                        <span class="icon-edit" @click="edit(item.id)"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    {{ encore_entry_script_tags('planList') }}
{% endblock %}
