{% extends 'base.html.twig' %}

{% block title %}Hello PacjentController!{% endblock %}

{% block body %}
    <div class="container" id="app">
        <div class="form">
            <div class="form-row">
                <span class="form-title">{{ title }}</span>
            </div>
            <div class="form-row">
                <div class="input-form-50">
                    <h3>Rozpoznanie:</h3>
                    <select name="rozpoznanie" class="select-form" v-model="item.rozpoznanie">
                        <option v-for="subitem in sortedListOfRozpoznania" :value="subitem.id">
                            @{subitem.kod} @{subitem.opis}
                        </option>
                    </select>
                </div>
                <div class="input-form-50">
                    <h3>Opis:</h3>
                    <input class="input-text-form" type="text" placeholder="Opis" v-model="item.opis">
                </div>
            </div>
            <div class="form-row">
                <div class="grid-3">
                    <span v-for="zabieg in zabiegi">
                        <template v-if="isZabiegRelated(zabieg.id) !== (-1)">
                            <div class="grid-item-active" @click="removeZabiegFromPlan(zabieg.id)">
                                @{zabieg.opis} <br /> @{zabieg.rodzajZabiegu} <br /> @{zabieg.cena} zł
                            </div>
                        </template>
                        <template v-else>
                            <div class="grid-item-inactive" @click="addZabiegToPlan(zabieg.id)">
                                @{zabieg.opis} <br /> @{zabieg.rodzajZabiegu} <br /> @{zabieg.cena} zł
                            </div>
                        </template>
                    </span>
                </div>
            </div>
            <div class="form-row button-area">
                <div class="button button-right" @click="applyChange">Zatwierdź</div>
            </div>
        </div>
    </div>

    <script>
        {% if rozpoznania is defined %}
            window.rozpoznania = {{ rozpoznania|raw }};
        {% endif %}
        {% if id is defined %}
            window.id = {{ id }};
        {% endif %}
        {% if item is defined %}
            window.item = {{ item|raw }};
        {% endif %}
        {% if zabiegi is defined %}
            window.zabiegi = {{ zabiegi|raw }};
        {% endif %}
        {% if pozycje is defined %}
            window.pozycje = {{ pozycje|raw }};
        {% endif %}
    </script>

    {{ encore_entry_script_tags('planManage') }}
{% endblock %}
