{% extends 'base.html.twig' %}

{% block title %}Hello OsobaController!{% endblock %}

{% block body %}
    <div class="container" id="app">
        <div class="vertical-bar">
            <div class="button" id="active-patients-button" @click="changeActive">Aktywni</div>
        </div>
        <div class="heading">
            Pacjenci
        </div>
        <div class="box">
            <table>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Imię i naziwsko</th>
                    <th scope="col">Pesel</th>
                    <th scope="col">Opis</th>
                    <th scope="col">Data rozpoczęcia</th>
                    <th scope="col">Data zakończenia</th>
                    <th scope="col">
                        <a href="{{ path('osoba-pacjent-new') }}">
                            <span class="icon-add"></span>
                        </a>
                    </th>
                </tr>
                <tr v-for="(item,key) in items">
                    <td class="big">@{key}</td>
                    <td>@{item.imie} @{item.nazwisko}</td>
                    <td>@{item.pesel}</td>
                    <td>@{item.opis}</td>
                    <td>
                        <template v-if="item.dataRozpoczecia != null">
                            @{ format_date(item.dataRozpoczecia.date) }
                        </template>
                    </td>
                    <td>
                        <template v-if="item.dataZakonczenia != null">
                            @{ format_date(item.dataZakonczenia.date) }
                        </template>
                    </td>
                    <td>
                        <span class="icon-edit" @click="edit(item.id)"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    {{ encore_entry_script_tags('pacjentList') }}
{% endblock %}
