{% extends 'base.html.twig' %}

{% block title %}Hello PacjentController!{% endblock %}

{% block body %}
    <div class="container" id="app">
        <div class="form">
            <div class="form-row">
                <span class="form-title">{{ title }}</span>
                <span class="form-subtitle" v-if="item.dataRozpoczecia !== null">
                    Od: @{ format_date(item.dataRozpoczecia.date) }
                </span>
                <span class="form-subtitle" v-if="item.dataZakonczenia !== null">
                    Do: @{ format_date(item.dataZakonczenia.date) }
                </span>
            </div>
            <div class="form-row">
                <div class="input-form-50">
                    <h3>Osoba:</h3>
                    <select class="select-form" name="osoba" v-model="item.osoba"
                            {% if id is defined %}disabled{% endif %}>
                        <option v-for="subitem in sortedListOfOsoby" :value="subitem.id">
                            @{subitem.imie} @{subitem.nazwisko} @{subitem.pesel}
                        </option>
                    </select>
                </div>
                <div class="input-form-50">
                    <h3>Rozpoznanie:</h3>
                    <select name="rozpoznanie" class="select-form" v-model="item.rozpoznanie">
                        <option v-for="subitem in sortedListOfRozpoznania" :value="subitem.id">
                            @{subitem.kod} @{subitem.opis}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="input-form-50">
                    <h3>Płatnik:</h3>
                    <input type="text" class="input-text-form" placeholder="Płatnik" v-model="item.platnik">
                </div>
                <div class="input-form-50">
                    <h3>Opis:</h3>
                    <input type="text" class="input-text-form" placeholder="Opis" v-model="item.opisDodatkowy">
                </div>
            </div>
            <div class="form-row button-area">
                <div class="button button-right" @click="applyChange">Zatwierdź</div>
            </div>
        </div>
    </div>

    <script>
        {% if osoby is defined %}
        window.osoby = {{ osoby|raw }};
        {% endif %}
        {% if rozpoznania is defined %}
        window.rozpoznania = {{ rozpoznania|raw }};
        {% endif %}
        {% if id is defined %}
        window.id = {{ id }};
        {% endif %}
        {% if item is defined %}
        window.item = {{ item|raw }};
        {% endif %}
    </script>

    {{ encore_entry_script_tags('pacjentManage') }}
{% endblock %}
