{% extends 'base.html.twig' %}

{% block title %}Hello BoardController!{% endblock %}

{% block body %}
<div class="container">
    <h3>Rehabi App</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores assumenda at beatae, cum cumque dicta distinctio dolore doloribus expedita laboriosam laborum libero molestias neque nesciunt optio quibusdam recusandae voluptatum.</p>
</div>
{% endblock %}
