{% extends 'base.html.twig' %}

{% block title %}Hello OsobaController!{% endblock %}

{% block body %}
    <div class="container" id="app">
        <div class="vertical-bar">
            <input type="text" class="text-form-search" @input="getRelacje" v-model="searchByValueX" placeholder="Zabieg X">
            <input type="text" class="text-form-search" @input="getRelacje" v-model="searchByValueY" placeholder="Zabieg Y">
        </div>

        <div class="heading">
            Relacje Między Zabiegami
        </div>

        <div class="box">
            <table>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Zabieg X</th>
                    <th scope="col">Zabieg Y</th>
                    <th scope="col">Minimalny Odstęp</th>
                    <th scope="col">
                        <a href="{{ path('zabieg-relacja-new') }}">
                            <span class="icon-add"></span>
                        </a>
                    </th>
                </tr>
                <tr v-for="(relacja,key) in relacje">
                    <td class="big">@{key}</td>
                    <td>@{relacja.zabiegX}</td>
                    <td>@{relacja.zabiegY}</td>
                    <td>@{relacja.minimalnyOdstep} min</td>
                    <td>
                        <span class="icon-remove" @click="remove(relacja.id, key)"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    {{ encore_entry_script_tags('relacjaMiedzyZabiegamiList') }}
{% endblock %}
