{% extends 'base.html.twig' %}

{% block title %}Hello ZabiegController!{% endblock %}

{% block body %}
    <div class="container" id="app">
        <div class="form">
            <div class="form-row">
                <span class="form-title">Nowa relacja</span>
            </div>
            <div class="form-row">
                <div class="input-form-40">
                    <h3>Pierwszy Zabieg:</h3>
                    <select name="zabiegX" class="select-form" v-model="item.zabiegX">
                        <option v-for="zabieg in sortedListOfZabiegi" :value="zabieg.id">
                            @{zabieg.opis} @{zabieg.zalecenia}
                        </option>
                    </select>
                </div>
                <div class="input-form-40">
                    <h3>Drugi Zabieg:</h3>
                    <select name="zabiegY" class="select-form" v-model="item.zabiegY">
                        <option v-for="zabieg in sortedListOfZabiegi" :value="zabieg.id">
                            @{zabieg.opis} @{zabieg.zalecenia}
                        </option>
                    </select>
                </div>
                <div class="input-form-15">
                    <h3>Minimalny Odstęp:</h3>
                    <input class="input-text-form" v-model="item.minimalnyOdstep" type="text">
                </div>
            </div>
            <div class="form-row button-area">
                <div class="button button-right" @click="applyChange">Zatwierdź</div>
            </div>
        </div>
    </div>

    <script>
        {% if item is defined %}
            window.item = {{ item|raw }};
        {% endif %}
        {% if zabiegi is defined %}
            window.zabiegi = {{ zabiegi|raw }};
        {% endif %}
    </script>

    {{ encore_entry_script_tags('relacjaMiedzyZabiegamiManage') }}
{% endblock %}
