{% extends 'base.html.twig' %}

{% block title %}Hello ZabiegController!{% endblock %}

{% block body %}
    <div class="container" id="app">
        <div class="form">
            <div class="form-row">
                <span class="form-title">{{ title }}</span>
            </div>
            <div class="form-row">
                <div class="input-form-50">
                    <h3>Rodzaj Zabiegu:</h3>
                    <select name="osoba" class="select-form" v-model="item.rodzajZabiegu">
                        <option v-for="rodzajZabiegu in sortedListOfRodzajeZabiegow" :value="rodzajZabiegu.id">
                            @{rodzajZabiegu.nazwa}
                        </option>
                    </select>
                </div>
                <div class="input-form-50">
                    <h3>Cena:</h3>
                    <input class="input-text-form" v-model="item.cena" type="text">
                </div>
            </div>
            <div class="form-row">
                <div class="input-form-15">
                    <h3>Czas Trwania:</h3>
                    <input class="input-text-form" v-model="item.czasTrwania" type="text">
                </div>
                <div class="input-form-35">
                    <h3>Zalecenia:</h3>
                    <input class="input-text-form" v-model="item.zalecenia" type="text">
                </div>
                <div class="input-form-50">
                    <h3>Opis:</h3>
                    <input class="input-text-form" v-model="item.opis" type="text">
                </div>
            </div>
            <div class="form-row button-area">
                <div class="button button-right" @click="applyChange">Zatwierdź</div>
            </div>
        </div>
    </div>

    <script>
        {% if item is defined %}
            window.item = {{ item|raw }};
        {% endif %}
        {% if rodzajeZabiegow is defined %}
            window.rodzajeZabiegow = {{ rodzajeZabiegow|raw }};
        {% endif %}
        {% if id is defined %}
            window.id = {{ id }};
        {% endif %}
    </script>

    {{ encore_entry_script_tags('zabiegManage') }}
{% endblock %}
