{% extends 'base.html.twig' %}

{% block title %}Hello OsobaController!{% endblock %}

{% block body %}
    <div class="container" id="app">
        <div class="vertical-bar">
            <input class="text-form-search" type="text" @input="getZabiegi" v-model="searchByValue">
        </div>
        <div class="vertical-bar">
            <a href="{{ path('zabieg-relacje') }}">
                <span class="button button-right">Relacje Między Zabiegami</span>
            </a>
            <a href="{{ path('zabieg-rodzaj') }}">
                <span class="button button-right">Rodzaje Zabiegów</span>
            </a>
        </div>

        <div class="heading">
            Zabiegi
        </div>

        <div class="box">
            <table>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Opis</th>
                    <th scope="col">Cena</th>
                    <th scope="col">Czas trwania</th>
                    <th scope="col">
                        <a href="{{ path('zabieg-new') }}">
                            <span class="icon-add"></span>
                        </a>
                    </th>
                </tr>
                <tr v-for="(item,key) in zabiegi">
                    <td class="big">@{key}</td>
                    <td>@{item.opis}</td>
                    <td>@{item.cena} zł</td>
                    <td>@{item.czasTrwania} m</td>
                    <td>
                        <span class="icon-edit" @click="edit(item.id)"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    {{ encore_entry_script_tags('zabiegList') }}
{% endblock %}
