{% extends 'base.html.twig' %}

{% block title %}Hello ZabiegController!{% endblock %}

{% block body %}
    <div class="container" id="app">
        <div class="form">
            <div class="form-row">
                <span class="form-title">Utwórz turnus</span>
            </div>
            <div class="form-row">
                <div class="input-form-50">
                    <h3>Pacjent:</h3>
                    <select @click="getPlany" class="select-form" name="pacjent" v-model="item.pacjent">
                        <option v-for="subitem in sortedListOfPacjenci" :value="subitem.id">
                            @{subitem.imie} @{subitem.nazwisko} @{subitem.pesel} @{subitem.opis}
                        </option>
                    </select>
                </div>
                <div class="input-form-50">
                    <h3>Drugi Zabieg:</h3>
                    <input v-model="item.opis" type="text" class="input-text-form">
                </div>
                <div class="input-form-50">
                    <h3>Plan:</h3>
                    <select class="select-form" name="plan" v-model="item.plan">
                        <option v-for="subitem in plany" :value="subitem.id">
                            @{subitem.opis} @{subitem.rozpoznanie_kod} @{subitem.rozpoznanie_opis}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-row button-area">
                <div class="button button-right" @click="applyChange">Zatwierdź</div>
            </div>
        </div>
    </div>

    <script>
        {% if item is defined %}
            window.item = {{ item|raw }};
        {% endif %}
        {% if pacjenci is defined %}
            window.pacjenci = {{ pacjenci|raw }};
        {% endif %}
        {% if id is defined %}
            window.id = {{ id }};
        {% endif %}
    </script>

    {{ encore_entry_script_tags('turnusManage') }}
{% endblock %}
